<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Trips</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body class="bg-all_trips">
    <nav class="d-flex justify-content-between align-items-center col-12 text-light">
        <h2>FishBook</h2>
        <div class="d-flex col-4 justify-content-around">
            <a href="/new" class="btn btn-primary">Add New Trip</a>
            <a href="/user/{{session.user_id}}">Profile</a>
            <a href="/logout">Logout</a>
        </div>
    </nav>
    <div class="col-8 mx-auto text-light">
        <div class="text-nowrap justify-content-between">
            {% for trip in trips %}
            <div class="mt-2">
                <h3 class="justify-content-between"><a href=" /user/{{trip.user_id}}">{{trip.first_name}}'s Trip</a>
                </h3>
                <p class="card-text">Type: {{trip.species}}</p>
                <p class="card-text">Bait Used: {{trip.bait}}</p>
                <p class="card-text">Fresh water/ Saltwater: {{trip.water}}</p>
                <p class="card-text">Date: {{trip.date_of_trip.strftime('%B,%d,%Y')}}</p>
                <p class="card-text">Qty: {{trip.quantity}}</p>
                {% for comment in trip.comments%}
                <p>{{comment.comments}}</p>
                {%endfor%}
                <a href="/new/comment/{{trip.id}}">Comment</a>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

</html>