<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="bg-login">
    <div class="d-flex justify-content-around text-nowrap text-center">
        <form action="/login" method="post" class="p-4 bg-opacity-75 text-primary">
            <h2>Login</h2>
            {% with messages = get_flashed_messages(category_filter=['login']) %}
            {% if messages %}
            <div class="alert alert-primary" role="alert">
                <strong>You made a mistake. Launch Sequence Initiated in 5.4.3.2.1</strong>
                {% for message in messages %}
                <p>{{message}}</p>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
            <div class="form-group d-flex align-items-baseline">
                <label for="email">Email:</label>
                <input type="text" name="email" class="form-control">
            </div>
            <div class="form-group d-flex align-items-baseline">
                <label for="password">Password:</label>
                <input type="password" name="password" class="form-control">
            </div>
            <div class="d-flex justify-content-center">
                <input type="submit" value="Login To FishBook" class="btn btn-primary text-light">
            </div>
        </form>
    </div>
</body>

</html>