<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Trips</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav class="d-flex justify-content-between align-items-center col-12">
        <h2>My Trips</h2>
        <div class="d-flex col-4 justify-content-around">
            <a href="/new" class="btn btn-primary">Add New Trip</a>
            <a href="/trips">Home</a>
            <a href="/logout">Logout</a>
        </div>
    </nav>
    <div class="col-8 mx-auto">
        <div class="card text-nowrap justify-content-between bg-dark text-light">
            {% for trip in user.trips %}
            <div class="d-flex justify-content-between">
                <h3 class="justify-content-between">User <a href="/user/{{trip.user_id}}">{{trip.user_id}}</a></h3>
                <a href="/edit/trip/{{trip.id}}">Edit Trip</a>
            </div>
            <div>
                <p class="card-text">Type: {{trip.species}}</p>
                <p class="card-text">Bait Used: {{trip.bait}}</p>
                <p class="card-text">Fresh water/ Saltwater: {{trip.water}}</p>
                <p class="card-text">Date: {{trip.date_of_trip.strftime('%B,%d,%Y')}}</p>
                <p class="card-text">Qty: {{trip.quantity}}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

</html>